<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>Create New Student</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="align: center; margin-top: 50px;background: #E5E4E2;">
  <div align="center">
    <h1>Create New Student</h1>
    <br />
    <div align="center">
      <h3><a th:href="@{'/'}">Back</a></h3>
    </div>
    <br>
    <div class="col-sm-4">
      <form th:action="@{/save}" th:object="${student}" method="post">
	      <label class="form-label">Student Name</label>
	        <input type="hidden" th:field="*{id}" />
	        <input type="text" th:field="*{name}" class="form-control" placeholder="Student Name" required="required"/>
	        <br>
	      <label class="form-label">Course</label>
			<input type="text" th:field="*{course}" class="form-control" placeholder="Course" required="required"/>
			<br>
	      <label class="form-label">Fee</label>
	      	<input type="number" th:field="*{fee}" class="form-control" placeholder="Fee" required="required"/>
			<br>
		  <button type="submit" class="btn btn-info">Save</button>
      </form>
    </div>
  </div>
</body>

</html>